<!--
  This is the main component displayed to the user. It is linked to the 'courses'
  page in the navigation bar. It contains some components, including the list of
  courses categories. Every category links to the courses list, by category.
  Categories can be searched through, and there's a link to display more categories.
-->
<app-page-header></app-page-header>
<form action="" class="primary-form">
  <div class="col-xs-12 ">
    <div class="course-image">
      <p class="paragraf-browse">Browse through best learning courses for Alexa</p>
      <p class="paragraf-pick">Pick the one you like and start learning</p>
      <p id="demo"></p>
    </div>
  </div>

  <div class="col-xs-4 search-component">
    <label for="" id="search-label" class="search-label"></label>
    <input type="text" class="search-text" [(ngModel)]="searchName" name="searchName" placeholder="Search here...">
    <button class="search-button" (click)="onClickSearch()">SEARCH</button>
  </div>

  <div class="container ">
    <div class="row buttons-div">
      <input id="categoryName" type="text" class="name-text" [(ngModel)]="categoryName" name="name" placeholder="Give me a category name...">
      <button class="create-button" (click)="onCreateButton($event)">Create</button>

    </div>
    <div class="row category-div">
      <div class="col-xs-4 flex-container" [ngStyle]="{background:category.color}" *ngFor="let category of newCategories ">
        <button class="edit-button" (click)="onEditButton(category)">
          <i class="far fa-edit"></i>
        </button>
        <button class="delete-button" (click)="onDeleteButton(category)">
          <i class="fas fa-trash-alt"></i>
        </button>
        <p id="categoryName-paragraf" class="categoryName-paragraf"><a [routerLink]="['/courses/', category.id ]"  style="text-decoration: none;background-color:transparent;color:white">{{category.name}}</a></p>
        <input id="edit-id" type="text" class="edit-input" *ngIf="category.checked" [(ngModel)]="category.afterEdit" name="editCategoryName" placeholder="Category..">
      </div>
    </div>
  </div>
  <button class="col-xs-12 button-discover" (click)="onClickDiscover()">Discover more</button>
</form>
