<div class="bg">

  <!--Message-->
  <div>
    <div class="message-login col-xs-12 col-lg-6 ">
      <p class="welcome-back">Welcome back!</p>
      <p class="login">Login to your account</p>
    </div>


    <!--login form-->
    <div class="login-form col-xs-12 col-lg-6 ">
      <form name="login_form" autocomplete="on">
        <p id="generic-error" class="text-danger generic-err" *ngIf='errorMessage.isServerError' [innerHTML]="errorMessage.msgGeneric"></p>
        <div class="form-group input-textbox-group">
          <label for="InputEmail1"></label>
          <input  [(ngModel)]="user.email" name="email" type="email" class="form-control input-textbox" id="InputEmail1" aria-describedby="emailHelp"
            placeholder="email adress" [ngClass]="errorMessage.isEmailEmpty || !errorMessage.isEmailValid ? 'input-textbox input-textbox-err' : 'input-textbox'" />
          <p id="email-error" class="err text-danger" *ngIf=' errorMessage.isEmailEmpty || !errorMessage.isEmailValid' [innerHTML]="errorMessage.msgEmail"></p>
        </div>
        <div class="form-group input-textbox-group">
          <label for="InputPassword"></label>
          <input  [(ngModel)]="user.password" name="password" type="{{passType}}" class="form-control input-textbox" id="InputPassword"
          [ngClass]="errorMessage.isPassEmpty || !errorMessage.isPassValid ? 'input-textbox input-textbox-err' : 'input-textbox'"/>
          <button id="btn-pass"class="btn btn-show-pass" (click)="showHidePassword()"><i class="fa fa-eye"></i></button>
          <p id="pass-error" class="err text-danger" *ngIf='errorMessage.isPassEmpty || !errorMessage.isPassValid'[innerHTML]="errorMessage.msgPass"></p>
        </div>
        <button type="submit" class="btn btn-primary sign-btn" (click)="onLogin()">SIGN IN</button>
        <div class="forgot-password">
          <p>Forgot password?
            <u>
              <a href="/reset">Reset it</a>
            </u>
          </p>
        </div>
      </form>
    </div>

    <!--Don`t have an account?-->
      <div class="col-xs-12 sign-up-div">
        <p class="no-account">Don`t have an account?</p>
        <button [routerLink]="['/register']" class="btn btn-primary sign-up-btn">SIGN UP</button>
    </div>
  </div>
</div>
