<div class="bg">

  <!--Message-->
  <div class="message-register">
    <p class="you-re-close">You`re one step closer</p>
    <p class="create-account">Create your new account</p>
  </div>

  <!--reset form-->
  <div class="register-form">
    <form>
      <div class="form-group input-textbox-group">
        <label for="InputFirstName"></label>
        <input type="text" class="form-control input-textbox" id="InputFirstName"  placeholder="first name">
      </div>
      <div class="form-group input-textbox-group">
          <label for="InputLastName"></label>
          <input type="text" class="form-control input-textbox" id="InputLastName"  placeholder="last name">
        </div>
      <div class="form-group input-textbox-group">
        <label for="InputEmail1"></label>
        <input type="email" class="form-control input-textbox" id="InputEmail1" aria-describedby="emailHelp" placeholder="email adress">
      </div>
      <div class="form-group input-textbox-group">
        <label for="InputPassword"></label>
        <input type="password" class="form-control input-textbox" id="InputPassword" placeholder="new password">
      </div>
      <button type="submit" class="btn btn-primary register-btn">CREATE ACCOUNT</button>
      <div class="form-check check-square">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label check-me" for="exampleCheck1">Check me out</label>
        </div>
    </form>
  </div>
</div>
