
<!--
  This is the component that lists the questions for a chapter. The answers for the
  questions should be checked before being able to pass next. There are links at the
  bottom, that allow navigation to the next' or previous' chapter questions. After
  the last chapter, the link should go to a screen that displays a finalization
  message - this message can be part of this same component.
-->
<app-page-header></app-page-header>
<form action="" class="primary-form">

  <div class="chapter-image">
    <p class="paragraf-browse">Chapter </p>
    <p class="paragraf-pick">dddd</p>
  </div>

  <div class="container">
    <div class="row buttons-div">
      <input id="categoryName" type="text" class="name-text" [(ngModel)]="categoryName" name="name" #test placeholder="Give me a category name...">
      <button class="create-button" (click)="onCreateButton(test)">Create</button>

    </div>
    <div class="row quiz">
      <div class="question" *ngFor="let question of questions,let index=index">
        <div class="question-div ">
          <h3 class="question-h">
            <!-- <span id="question ">Q: {{question.question}}</span> -->
            <span id="question ">Q: {{question.content}}</span>
          </h3>
          <div class="buttons">
            <button class="edit-button edit" (click)="onEditButton(question)">
              <i class="far fa-edit"></i>
            </button>
            <button class="edit-button delete" (click)="onDeleteButton(question)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="row one" *ngFor="let answer of question.answers; let j=index">
          <div class="row radio answer-div">
            <label class="answer-label">
              <input class="answer" type="radio" required ngModel[value]="answer.correct" name="question"  >{{answer.answer}}</label>
              <input class="answer" type="text" [(ngModel)]="answer.answer" name="questionName" >
              <button class="bnt btn-primary" (click)="addQuestion(index)">Add answer</button>
            </div>
          <!-- <div class="row radio answer-div">
              <label class="answer-label">
               {{answer.text}}</label>
            </div> -->
        </div>
      </div>
    </div>
    <button class="submitButton" (click)="onSubmitClick()">Submit</button>
    <button id="prevButton" class="prevButton" (click)="onPrevButton()">Previous Chapter</button>

    <button id="nextButton" class="nextButton" (click)="onNextButton()">Next Chapter</button>

  </div>
</form>
<!-- </div> -->