<!--
  This is the component that lists the questions for a chapter. The answers for the
  questions should be checked before being able to pass next. There are links at the
  bottom, that allow navigation to the next' or previous' chapter questions. After
  the last chapter, the link should go to a screen that displays a finalization
  message - this message can be part of this same component.
-->
<form action="" class="primary-form">

  <div class="chapter-image">
    <p class="paragraf-browse">Chapter </p>
    <p class="paragraf-pick">dddd</p>
  </div>

  <div class="container">
    <div class="row buttons-div">
      <input id="categoryName" type="text" class="name-text" [(ngModel)]="categoryName" name="name" placeholder="Give me a category name...">
      <button class="create-button" (click)="onCreateButton($event)">Create</button>
    </div>
    <div class="row quiz">
      <div class="question-div" *ngFor="let question of questions,let index=index">

        <div class="question ">
          <h3>
            <span id="question ">Q: {{question.question}}</span>
          </h3>
          <div class="buttons">
            <button class="edit-button" (click)="onEditButton(category)">
              <i class="far fa-edit"></i>
            </button>
            <button class="delete-button" (click)="onDeleteButton(category)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>

        <div class="row one" *ngFor="let answer of question.answers">
          <div class="row radio answer-div">
            <label class="answer-label">
              <input class="answer" type="radio" name={{index}} value={{answer.id}} [(ngModel)]="question.selectedAnswer">{{answer.text}}</label>
          </div>
        </div>
        
      </div>
    </div>
    <button class="submitButton" (click)="onSubmitClick()">Submit</button>
    <button id="prevButton" class="prevButton" (click)="onPrevButton()">Previous Chapter</button>

    <button id="nextButton" class="nextButton" (click)="onNextButton()">Next Chapter</button>

  </div>
</form>
<!-- </div> -->