  <div class="bg">

    <!--Message-->
    <div class="message">
      <p  class="you-re-sorry">You`re sorry</p>
      <p  class="let-s-reset-your-pas">Let`s reset your password</p>
    </div>

    <!--reset form-->
    <div class="reset-form">
        <form>
        <div class="form-group input-textbox-group">
          <label for="InputEmail1"></label>
          <input type="email" class="form-control input-textbox" id="InputEmail1" aria-describedby="emailHelp" placeholder="email adress">
        </div>
        <div class="form-group input-textbox-group">
          <label for="InputPassword"></label>
          <input type="password" class="form-control input-textbox" id="InputPassword" placeholder="new password">
        </div>
        <div class="form-group input-textbox-group">
            <label for="InputPasswordConfirm"></label>
            <input type="password" class="form-control input-textbox" id="InputPasswordConfirm" placeholder="confirm password">
          </div>
        <button type="submit" class="btn btn-primary reset-btn">RESET PASSWORD</button>
      </form>
    </div>
  </div>
