.bg {
  /* The image used */
  background-image: url("../../../../../assets/bg_image_authentification.png");
  background-color: hsl(224, 32%, 12%);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}

.let-s-reset-your-pas {
  float: right;
  height: 20%;
  width: 80%;
  color: #f7f7f7;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-left: 100px;
  padding-top: 20px;
}

.you-re-sorry {
  float: right;
  height: 52px;
  width: 50%;
  opacity: 0.5;
  color: #f7f7f7;
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-right: 200px;
  padding-top: 450px;
}

.input-textbox {
  height: 4.39%;
  width: 30.83%;
  min-width: 150px;
  border: 1px solid #aeb5bb;
  border-radius: 5px;
  background-color: white;
  padding-top: -100px;
  display: inline;
}

.input-textbox-group{
  margin-bottom: 10px;
}

.reset-btn {
  width: 30.83%;
  min-width: 150px;
  border-radius: 5px;
  background-color: #006fff;
  margin-top: 30px;
  padding-left: -5px;
}

.message {
  float: left;
  width: 50%;
  height: 100%;
}

.reset-form{
  float:right;
  width: 50%;
  padding-top: 350px;
}

.err{
  display: inline;
  padding-left: 20px;;
  font-size: 15px;
  font-family: Roboto;
}

.generic-err{
  padding-left: 45px;;
  font-size: 15px;
  max-width: 300px;
  justify-content: center;
  font-family: Roboto;
}

.generic-err-no-reset {
  color: #c44569;
}

.generic-err-reset {
  color: green;
}

.btn-show-pass{
  position: absolute;
  margin-top: 1px;
  border:none;
  color: #006fff;
  margin-left: -45px;
  font-size: 14px;
  height:15px;
  background-color: transparent;
  outline: none;
}

