  <div class="bg">

    <!--Message-->
    <div class="message">
      <p  class="you-re-sorry">You`re sorry</p>
      <p  class="let-s-reset-your-pas">Let`s reset your password</p>
    </div>

    <!--reset form-->
    <div [ngClass]="!isUserResetting ? 'reset-form reset-form-no-reset' : 'reset-form reset-form-reset'">
        <form>
          <!--Before email sent-->
        <p id="generic-error" [ngClass]="isEmailSentMessage ? 'generic-err generic-err-reset' : 'generic-err generic-err-no-reset'" *ngIf='errorMessage.isGenericError' [innerHTML]="errorMessage.generic_msg"></p>
        <div [hidden]="isUserResetting" class="form-group input-textbox-group">
          <label for="InputEmail1"></label>
          <input [(ngModel)]="email" name="email" type="email" class="form-control input-textbox" id="InputEmail1" aria-describedby="emailHelp" placeholder="email adress"
          [ngClass]="errorMessage.isEmailEmpty || !errorMessage.isEmailValid ? 'input-textbox input-textbox-err' : 'input-textbox'">
          <p  class="err text-danger" *ngIf='errorMessage.isEmailEmpty || !errorMessage.isEmailValid' [innerHTML]="errorMessage.email_msg"></p>
        </div>

        <!--After email sent-->
        <div [hidden]="!isUserResetting"  class="form-group input-textbox-group">
          <label for="InputPassword"></label>
          <input [(ngModel)]="user_resetting.password" name="pass" type="{{passType1}}" class="form-control input-textbox" id="InputPassword" placeholder="new password"
          [ngClass]="errorMessage.isNewPassEmpty || !errorMessage.isNewPassValid ? 'input-textbox input-textbox-err' : 'input-textbox'">
          <button id="show-pass-1" class="btn btn-show-pass" (click)="showHidePassword1()"><i class="fa fa-eye"></i></button>
          <p  class="err text-danger" *ngIf='errorMessage.isNewPassEmpty || !errorMessage.isNewPassValid' [innerHTML]="errorMessage.pass_msg"></p>
        </div>
        <div [hidden]="!isUserResetting"  class="form-group input-textbox-group">
            <label for="InputPasswordConfirm"></label>
            <input [(ngModel)]="user_resetting.confirmPassword" name="confirm-pass" type="{{passType2}}" class="form-control input-textbox" id="InputPasswordConfirm" placeholder="confirm password"
            [ngClass]="errorMessage.isConfirmPassEmpty || !errorMessage.isConfirmPassValid ? 'input-textbox input-textbox-err' : 'input-textbox'">
            <button id="show-pass-2" class="btn btn-show-pass" (click)="showHidePassword2()"><i class="fa fa-eye"></i></button>
            <p  class="err text-danger" *ngIf='errorMessage.isConfirmPassEmpty || !errorMessage.isConfirmPassValid' [innerHTML]="errorMessage.confirm_pass_msg"></p>
          </div>
        <button (click)="isUserResetting ? onResetPassword() : onRequestResetPassword()" type="submit" class="btn btn-primary reset-btn">RESET PASSWORD</button>
      </form>
    </div>
  </div>
