<!--
  This is the course list component. It lists the courses that are being passed
  as Input(). For a user, it displays the courses of a given category. Every course
  can be opened separately by navigating to the specific course route, by id. While
  used for the admin - this component displays all the courses and offers the ability
  to create a new course, edit or remove an existing course.
-->
<app-page-header></app-page-header>
<form action="" class="primary-form">

  <div class="course-image">
    <p class="paragraf-browse">Browse through best learning courses for Alexa</p>
    <p class="paragraf-pick">Pick the one you like and start learning</p>
  </div>

  <div class="container">
    <div class="row buttons-div">
      <input id="courseName" type="text" class="name-text" [(ngModel)]="courseName" name="name" placeholder="Give me a category name...">
      <button class="create-button" (click)="onCreateButton($event)">Create</button>

    </div>
    <div class="course-div">
      <!-- <a [href]="course.adresa"> -->
        <div action="" class="col-xs-6 flex-container" *ngFor="let course of newCourse">
          <div class="row Image-div" [ngStyle]="{'background-image': 'url(' + course.imagePath + ')'}">
            <button class="edit-button" (click)="onEditButton(course)">
              <i class="far fa-edit"></i>
            </button>
            <button id="del-button" class="edit-button" (click)="onDeleteButton(course)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>

          <div class="row Descriere-div">
            <p> {{course.name}} </p>
            <input id="edit-id" type="text" class="edit-input" *ngIf="course.checked" [(ngModel)]="course.afterEdit" name="editCourseName" placeholder="Course..">
            <p>{{course.descriere}}</p>
          </div>
        </div>
      <!-- < //a> -->
    </div>
  </div>
  <button class="col-xs-12 button-discover" (click)="onClickDiscover()">Discover more</button>
</form>
