<!--
  This is the course list component. It lists the courses that are being passed
  as Input(). For a user, it displays the courses of a given category. Every course
  can be opened separately by navigating to the specific course route, by id. While
  used for the admin - this component displays all the courses and offers the ability
  to create a new course, edit or remove an existing course.
-->
<form action="" class="primary-form">
  <div class="course-image">
    <p class="paragraf-browse">Browse through best learning courses for Alexa</p>
    <p class="paragraf-pick">Pick the one you like and start learning</p>
    <p id="demo"></p>

  </div>
  <div class="col-xs-4 search-component">
    <input type="text" class="search-text" [(ngModel)]="searchName" name="searchName" placeholder="Search here...">
    <br>
    <button class="search-button" (click)="onClickSearch()">SEARCH</button>
  </div>
  <div class="container ">
    <div class="row">
    <div class="col-xs-4 flex-container" *ngFor="let category of newCategories ">
      <a id="course1" href="#">{{category}}</a>
    </div>
  </div>
  </div>
  <button class="button-discover" (click)="onClickDiscover()">Discover more</button>

</form>