<form action="" class="primary-form">
  <div class="col-xs-12 ">
    <div class="course-image">
      <p class="paragraf-browse">Browse through best learning courses for Alexa</p>
      <p class="paragraf-pick">Pick the one you like and start learning</p>
      <p id="demo"></p>
    </div>
  </div>
  <div class="contaier chapter-div" >
    <div class="row">
      <p class="chapter-paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim laborum pariatur commodi eum doloremque, rem architecto, ut aperiam consequatur laudantium dolorem earum, sequi deleniti suscipit ab est laboriosam voluptates. 
        Excepturi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur laborum, necessitatibus nam soluta at reiciendis eaque sapiente, exercitationem praesentium labore aut quos molestiae? Porro et dolores animi. 
        Labore, totam deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi dolor quod cupiditate commodi laboriosam tempora pariatur amet, soluta, iusto consequuntur sed, ab sequi. Eveniet adipisci suscipit 
        laudantium error tempore?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, id excepturi dignissimos sapiente perspiciatis voluptas error dolorum officiis corporis esse blanditiis libero quo laboriosam nesciunt eos at 
        itaque voluptatem voluptates!  
        
        
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim laborum pariatur commodi eum doloremque, rem architecto, ut aperiam consequatur laudantium dolorem earum, sequi deleniti suscipit ab est laboriosam voluptates. 
        Excepturi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur laborum, necessitatibus nam soluta at reiciendis eaque sapiente, exercitationem praesentium labore aut quos molestiae? Porro et dolores animi. 
        Labore, totam deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi dolor quod cupiditate commodi laboriosam tempora pariatur amet, soluta, iusto consequuntur sed, ab sequi. Eveniet adipisci suscipit 
        laudantium error tempore?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, id excepturi dignissimos sapiente perspiciatis voluptas error dolorum officiis corporis esse blanditiis libero quo laboriosam nesciunt eos at 
        itaque voluptatem voluptates!</p>
        <p class="chapter-paragraf2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magnam hic culpa nostrum porro, rerum aspernatur molestias ipsam explicabo dolore sed iste obcaecati, ab qui. 
          Deserunt at laboriosam unde magnam?</p>
    </div>
  </div>
  <button class="prev-button">Previous Chapter</button>
  <button class="next-button">Next Chapter</button>
</form>