.user-list-header {
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

.user-list {
  margin-right: 100px;
  margin-left: 100px;
  height: 10%;
  width: 75%;
  border: 1px solid #eff1f4;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px 15px 10px 15px;
}
.users-list-headers {
  height: 14px;
  width: 100%;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 20px;
}

.user-checkbox {
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #aeb5bb;
  border-radius: 5px;
}
