<!--
  This is the component that lists the users of the website. It can be accessed
  only by the admin and occurs when the admin clicks the 'users' link in the
  navigation menu.
  Every user can be edited, duplicated, removed or his role may be changed.
  There's also a possibility to create a new user.
-->
<div class="container">
  <div class="row">

    <!--user list header-->
    <section class="row user-list-header">
      <div class="col-xs-3">
        <p class="users-list-headers">BASIC INFO</p>
      </div>
      <div class="col-xs-3">
        <p class="users-list-headers">TOTAL SCORE</p>
      </div>
      <div class="col-xs-3">
        <p class="users-list-headers">ROLE</p>
      </div>
      <div class="col-xs-3">
        <p class="users-list-headers">DATE CREATED</p>
      </div>
    </section>

    <!--user list-->
    <section class="row user-list">

      <!--checkbox-->
      <div class="col-xs-1">
          <input type="checkbox" class="user-checkbox">
      </div>

      <!--basic info-->
      <div class="col-xs-3">

      </div>

      <!--total score-->
      <div class="col-xs-3">

      </div>

      <!--role-->
      <div class="col-xs-2">

      </div>

      <!--date created-->
      <div class="col-xs-2">

      </div>

      <!--context menu-->
      <div class="col-xs-1">

      </div>
    </section>
  </div>
</div>
