.user-list-header {
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

.user-list {
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 10px;
  height: 10%;
  width: 75%;
  border: 1px solid #eff1f4;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px 15px 5px 15px;
}

.user-list-checked {
  border: 1px solid #006fff;
}

.users-list-headers {
  height: 14px;
  width: 100%;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin: 8px 15px 4px 0px !important;
}

input[type="checkbox"]:checked {
  border: 1px solid #006fff;
}

input[type="checkbox"]:hover {
  border: 1px solid #006fff;
}

input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  height: 19px;
  width: 20px;
  border: 1px solid #aeb5bb;
  border-radius: 5px;
  -webkit-appearance: button;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -16x;
  outline: none;
}

input[type="checkbox"]:before {
  content: "";
  /* display: block; */
  /* position: absolute; */
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked:after {
  content: "";
  /* display: block; */
  width: 5px;
  height: 10px;
  border: solid #006fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

#checkActive {
  margin-top: 13px;
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-left: -3px;
  margin-top: 5px;
}

img {
  border-radius: 50%;
}

.user-pic {
  margin-left: -30px;
  margin-top: 7px;
}

.username {
  height: 1.9%;
  width: 150px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-top: 15px;
  margin-left: 25px;
}

.user-email {
  height: 1.6%;
  width: 8.47%;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-left: 25px;
  margin-top: -10px;
}

.user-score {
  height: 1.4%;
  width: 2.57%;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}

.user-score-position {
  margin-top: 25px;
  margin-left: -6px;
}

.user-role {
  height: 25px;
  width: 50%;
  border-radius: 5px;
  background-color: #cce2ff;
  margin-left: -55px;
  margin-top: 18px;
  display: table;
}

.user-role-text {
  height: 1.6%;
  width: 3.75%;
  color: #006fff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.user-date {
  margin-top: 22px;
  margin-left: 16px;
}

.user-date-text {
  height: 1.4%;
  width: 100%;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}

.dots-menu {
  color: #AEB5BB;
  font-size: 20px;
  margin-top: 18px;
}

#dots:hover {
  color: #006FFF;
}

.context-menu {
    width: 200px;
    border-radius: 5px;
    background-color: #006FFF;
    position: absolute;
    padding: 15px 15px 0px 15px;
    float: left;
    right: 30px;
    z-index: 1;
}

.menu-option {
  width: 100%;
  color: white;
}

#menu > p:hover {
  color: #C5EFF7;
  cursor: default;
}

.user-list-edit {
  margin-left: 60px;
  padding: 20px 0px 10px 10px;
}

.user-list-inputs {
  height: 25px;
  width: 80%;
  border: 1px solid #aeb5bb;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin-left: -12px;
  color: #aeb5bb;
  font-family: Roboto;
  font-size: 15px;
  line-height: 21px;
}

.user-email-input {
  margin-left: -40px;
}

.standard-btn {
  height: 0.5%;
  width: 35%;
  border: 1px solid #006fff;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 11px;
  text-align: center;
  white-space: normal;
}

.btn-save {
  background-color: white;
  color: #006fff;
  margin-left: -52px;
}

.btn-save-saved {
  /* border: 1px solid #00E640; */
  color: #00E640;
}

.btn-cancel {
  background-color: #006fff;
  color: white;
  margin-left: -150px;
}

.err{
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 12px;
  font-family: Roboto;
  color: #E74C3C;
}

.err-name {
  margin-left: -10px;
}

.err-email {
  margin-left: -39px;
}

