.primary-form{
    position: relative;
    background-color: #F6FAFC;
    height: 100%;
}
.chapter-image{
    height: 370px;
    width: 100%;
    background-image: url(/../../assets/bg_image_authentification.png);
    background-color: hsl(224, 32%, 12%);
    background-position: center;
    position: relative;
text-align: center;
}
.chapter-div{
    margin-left: 15%;
    height: 150px;
    border: 1px solid #AEB5BB;
    border-radius: 5px;
    width:70%;
    padding-left: 5%;
    height: 40%;
  }
  .nrCapitol{
      height: 20%;
  }