.primary-form{
    position: relative;
    background-color: #F6FAFC;
    height: 100%;
}
.chapter-image{
    height: 370px;
    width: 100%;
    background-image: url(/../../assets/bg_image_authentification.png);
    background-color: hsl(224, 32%, 12%);
    background-position: center;
    position: relative;
/* text-align: center; */
}
.buttons-div{
   /* border:1px solid blue; */
    width: 70%;
    margin-left: 15%;
    margin-top: 70px;
}
.name-text{
    height: 29px;
    width: 66%;
    /* margin-left:1%; */
    border-radius: 5px;
}
.create-button{
    background-color: #006FFF;
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;
    height: 29px;
    width: 10%;
    margin-left:2%;
    border-radius: 5px;
}
.edit-button{
    color: #7D8492;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;
    height: 29px;
    width: 10%;
    margin-left:2%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.delete-button{
    color: #7D8492;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;
    height: 29px;
    width: 10%;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.categoryName-label{
    margin-top:100px;
    margin-left: 20%;
    color:white;
  background: linear-gradient(270deg, #B465DA 0%, #CF6CC9 28.04%, #EE609C 67.6%, #EE609C 100%);
  width: 100px;
  height: 26px;
  font-size: 20px;
  padding-left:1%;
  border-radius: 5px;

}
.courseTitle-paragraf{
    margin-left: 20%;
    width: 60%;
    color:white;
    font-size: 25px;
}
.courseDesc-paragraf{
    margin-left: 20%;
    width: 60%;
    color:white;
    font-size: 20px;
}
.chapter-div{
    margin-top:70px;
    margin-left: 15%;
    height: 150px;
    border-radius: 5px;
    width: 70%;
    height: 40%;
  }
  .aranjare{
      margin-top:70px;
      width: 90%;
  }
  .nrCapitol-label{
    color:blue;
    /* margin-left:2%; */
    padding-top: 3px; 
    padding-left: 2px;
    width: 100%;
    height: 25px;
    
  }
  .numeCapitol-label{
    padding-left: 2px;
    /* margin-left:2%; */
    padding-top: 7px; 
    width: 100%;
    height: 35px;
  }
  .descCapitol-label{
      border:1 px solid blue;
    /* margin-left:2%; */
    padding-left: 2px;
    padding-top: 7px; 
    width: 100%;
    height: 69px;
    color: #AEB5BB;	
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 23px;
  }
  .btn-aranjare{
      margin-top:-85px;
      margin-left:92%;
      width: 10%;
      float: right;
  }
  .startButton{
      width: 90%;
    color: #006FFF;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;	
    text-align: center;
    height: 31px;	
    border: 1px solid #006FFF;	
    border-radius: 5px;
    margin-left:10%;
  }
  .curiculum-button{
      height: 29px;
    color: #006FFF;	
    font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;	
    text-align: center;
      border:1px solid blue;
      border-radius: 5px;
      margin-top: 3%;
      margin-bottom:3%; 
      margin-left:43%;
  }
