<form action="" class="primary-form">

    <div class="chapter-image">
        <p class="paragraf-browse">Browse through best learning courses for Alexa</p>
        <p class="paragraf-pick">Pick the one you like and start learning</p>
    </div>
    <div id="" class="container">
        <div class="row ">
            <div>
                <!-- <div *ngFor="let chapter of chapters"> -->
                <div class=" chapter-div">
                    <label class="nrCapitol-label" for="">Nr Capitol</label>
                    <label class="numeCapitol-label" for="">Nume Capitol</label>
                    <label class="descCapitol-label" for="">Descriere Capitol</label>
                    <button class=" startButton">Start</button>
                </div>
            </div>
        </div>
    </div>
</form>