<form action="" class="primary-form">
    <div class="chapter-image" *ngFor="let info of infos">
        <label class="categoryName-label" for="">
            <p class="categoryName-paragraf"> {{info.categoryName}} </p>
        </label>
        <p class="courseTitle-paragraf">{{info.courseName}}</p>
        <p class="courseDesc-paragraf">{{info.courseDesc}}</p>
    </div>
    <div class="container ">
        <div class="row buttons-div">
            <input id="chapterName" type="text" class="name-text" [(ngModel)]="chapterName" name="name" placeholder="Give me a category name...">
            <button class="create-button" (click)="onCreateButton($event)">Create</button>
            <button class="edit-button" (click)="onEditButton()">Edit</button>
            <button class="delete-button" (click)="onDeleteButton()">Delete</button>
        </div>
        <div class="row chapter-div">
            <div class=" " *ngFor="let chapter of newChapters">
                <div class="aranjare">
                    <label class="nrCapitol-label" for="">Chapter {{chapter.capitol}}</label>
                    <label class="numeCapitol-label" for="">{{chapter.name}}</label>
                    <label class="descCapitol-label" for="">{{chapter.descriere}}</label>
                </div>
                <div class="btn-aranjare">
                    <button class=" startButton">Start</button>
                </div>
            </div>
        </div>
        <button class="curiculum-button" (click)="onCuriculumButton()"> See the full curiculum</button>
    </div>
</form>